<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="/css/scripts.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Management</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body  onload="getFontsize()">
<div th:insert="/menu.html :: div"></div>
<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <span th:text="'You are logged in as: ' + ${customer.name}"></span>
            <h2>Card Management</h2>
        </div>
        <div class="user--info">
            <div class="search--box">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="Search">
            </div>
            <img src="pictures/Desktop.png" alt="#"/>
        </div>
    </div>
    <div class="tabular--wrapper">
        <h3 class="main--title">Your Cards</h3>
        <div class="table--container">
            <table>
                <thead>
                <tr>
                    <th>Card Number</th>
                    <th>Owner's Name</th>
                    <th>Expiry Date</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th> </th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="card : ${customersCards}">
                    <td th:text="${card.id}"/>
                    <td th:text="${card.customerName}"/>
                    <td th:text="${card.expiryDate}"/>
                    <td th:text="${card.type}"/>
                    <td th:text="${card.status}"/>
                    <td>
                        <button class="collapsible" onclick="collapsible()">Card Operations</button>

                        <div class="content">
                        <form th:action="@{/block-card(cardId=${card.id})}" method="post">
                            <button type="submit" value="Block">Block</button>
                        </form>
                        <form th:action="@{/unblock-card(cardId=${card.id})}" method="post">
                            <button type="submit" value="UnBlock">Unlock</button>
                        </form>
                        <form th:action="@{/terminate-card(cardId=${card.id})}" method="post">
                            <button type="submit" value="Close">Close</button>
                        </form>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7"></td>
                </tr>
                </tfoot>
            </table>

        </div>

        <div class="tabular--wrapper">
            <h3 class="main--title">Request New Card</h3>
            <form th:action="@{/request-new-card}" th:object="${cardModel}" method="post">
                <div th:if="${#fields.hasErrors('type')}" role="alert">
                    Please select the card type.
                </div>
                <div th:if="${#fields.hasErrors('pinCode')}" role="alert">
                    Please enter the PIN code.
                </div>

                <div class="form-group">
                    <label for="type" class="form-label">Card Type:</label>
                    <select id="type" name="type" class="form-select">
                        <option value="DEBIT">Debit</option>
                        <option value="CREDIT">Credit</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pinCode" class="form-label">PIN Code:</label>
                    <input type="password" id="pinCode" name="pinCode" th:field="${cardModel.pinCode}" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit">Request</button>
                </div>
            </form>
            <!--<form th:action="@{/request-new-card}" th:object="${cardModel}" method="post">
                <div th:if="${#fields.hasErrors('type')}" role="alert">
                    Please select the card type.
                </div>
                <div th:if="${#fields.hasErrors('pinCode')}"role="alert">
                    Please enter the PIN code.
                </div>

                <label for="type">Card Type:</label>
                <select id="type" name="type">
                    <option value="DEBIT">Debit</option>
                    <option value="CREDIT">Credit</option>
                </select>
                <br>
                <label for="pinCode">PIN Code:</label>
                <input type="password" id="pinCode" name="pinCode" th:field="${cardModel.pinCode}">
                <br>
                <button type="submit">Request</button>
            </form>-->
        </div>
    </div>
</div>


</body>
</html>