<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script type="text/javascript" src="/javascript/scripts.js"></script>
    <title>Domestic Transfer</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body onload="getSavedItem()" sec:authorize="hasAuthority('STATUS_ACTIVE') or hasAuthority('STATUS_NEW')">
<div id="menu" th:insert="/menu.html :: div"></div>
<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <span th:text="'You are logged in as: ' + ${customer.name}"></span>
            <h2>Domestic Transfer</h2>
        </div>
        <div class="user--info">
            <div class="search--box">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="Search">
            </div>
            <i class="bi bi-person-circle"></i>
        </div>
    </div>
    <div class="tabular--wrapper">
        <h3 class="main--title">Domestic Transfer</h3>
        <div class="table--container">
            <form th:action="@{/domestic-transfer}" th:object="${transactionModel}" method="post">
                <div class="form-group">
                    <label for="sourceAccountNumber" class="form-label">Source Account Number:</label>
                    <select th:field="${transactionModel.account.id}" id="sourceAccountNumber" class="form-select" required>
                        <option th:each="account : ${customersAccount}"
                                th:value="${account.id}" th:text = "${account.id} +' ' +'('+${account.currency}+')'">
                        </option>
                    </select>
                    <input type="hidden" th:field="${transactionModel.account.id}" />
                </div>
                <div class="form-group">
                    <label for="destinationAccountNumber" class="form-label">Destination Account Number:</label>
                    <input type="number" th:field="${transactionModel.partnerAccountNumb}" id="destinationAccountNumber" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="partnerName" class="form-label">Partner's name:</label>
                    <input type="text" th:field="${transactionModel.partnerName}" id="partnerName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="amount" class="form-label">Amount:</label>
                    <input type="number" th:field="${transactionModel.amount}" id="amount" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="currency" class="form-label">Currency:</label>
                    <select id="currency" name="currency"  class="form-select">
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">GBP</option>
                        <option value="EUR">CHF</option>
                        <option value="USD">AUD</option>
                        <option value="EUR">JPY</option>
                        <option value="USD">HUF</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description" class="form-label">Description:</label>
                    <textarea th:field="${transactionModel.description}" id="description" class="form-control"></textarea>
                </div>
                <button type="submit">Transfer</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>