<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>International Transfer</title>
    <script type="text/javascript" src="/css/scripts.js"></script>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div th:insert="/menu.html :: div"></div>
<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <span th:text="'Welcome back ' + ${customer.name}"></span>
            <h2>Dashboard</h2>
        </div>
        <div class="user--info">
            <div class="search--box">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="Search">
            </div>
            <img src="pictures/Desktop.png" alt="#"/>
        </div>
    </div>
    <div class="tabular--wrapper">
        <h3 class="main--title">International Transfer</h3>
        <div class="table--container">
            <form th:action="@{/international-transfer}" th:object="${transactionModel}" method="post">
                <div>
                    <label for="sourceAccountNumber">Source Account Number:</label>
                    <select th:field="${transactionModel.account.id}" id="sourceAccountNumber" required>
                        <option th:each="account : ${customersAccount}"
                                th:value="${account.id}" th:text = "${account.id} +' ' +'('+${account.currency}+')'">
                        </option>
                    </select>
                </div>
                <div>
                    <label for="destinationAccountNumber">Destination Account Number:</label>
                    <input type="number" th:field="${transactionModel.partnerAccountNumb}" id="destinationAccountNumber" required>
                </div>
                <div>
                    <label for="partnerName">Partner's name:</label>
                    <input type="text" th:field="${transactionModel.partnerName}" id="partnerName" required>
                </div>
                <div>
                    <label for="iban">Partner's IBAN:</label>
                    <input type="text" th:field="${transactionModel.account.iban.iban}" id="iban" required>
                </div>
                <div>
                    <label for="partnerBank">SWIFT:</label>
                    <input type="text" th:field="${partnerBankModel.swiftCode}" id="partnerBank" required>
                    <div th:if="${partnerBanks != null}">
                        <p>Partner Bank Name: <span th:utext="${partnerBanks.name}"></span></p>
                        <p>Partner Bank Country: <span th:utext="${partnerBanks.country}"></span></p>
                    </div>
                </div>
                <div th:if="${partnerBank != null}">
                    <p>Partner Bank Name: <span th:text="${partnerBank.name}"></span></p>
                    <p>Partner Bank Country: <span th:text="${partnerBank.country}"></span></p>
                </div>
                <div>
                    <label for="amount">Amount:</label>
                    <input type="number" th:field="${transactionModel.amount}" id="amount" required>
                </div>
                <div>
                    <label for="currency">Currency:</label>
                    <select id="currency" name="currency">
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">GBP</option>
                        <option value="EUR">CHF</option>
                        <option value="USD">AUD</option>
                        <option value="EUR">JPY</option>
                        <option value="USD">HUF</option>
                    </select>
                </div>
                <div>
                    <label for="description">Description:</label>
                    <textarea th:field="${transactionModel.description}" id="description"></textarea>
                </div>
                <button type="submit">Transfer</button>
            </form>
        </div>
    </div>
</div>
<!--<div class="container">
    <div class="card border border-info border-3">
        <div class="card-header bg-info">
            <h3>International Transfer</h3>
        </div>
        <div class="card-body bg-light">
            <form th:action="@{/international-transfer}" th:object="${transactionModel}" method="post">
                <div class="form-group">
                    <label for="sourceAccountNumber">Source Account Number:</label>
                    <select th:field="${transactionModel.account.id}" class="form-control" id="sourceAccountNumber" required>
                        <option th:each="account : ${customersAccount}"
                                th:value="${account.id}" th:text = "${account.id} +' ' +'('+${account.currency}+')'">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="destinationAccountNumber">Destination Account Number:</label>
                    <input type="number" th:field="${transactionModel.partnerAccountNumb}" class="form-control" id="destinationAccountNumber" required>
                </div>
                <div class="form-group">
                    <label for="partnerName">Partner's name:</label>
                    <input type="text" th:field="${transactionModel.partnerName}" class="form-control" id="partnerName" required>
                </div>
                <div class="form-group">
                    <label for="iban">Partner's IBAN:</label>
                    <input type="text" th:field="${transactionModel.account.iban.iban}" class="form-control" id="iban" required>
                </div>
                <div class="form-group">
                    <label for="partnerBank">SWIFT:</label>
                    <input type="text" th:field="${partnerBankModel.swiftCode}" class="form-control" id="partnerBank" required>
                    <div th:if="${partnerBanks != null}">
                        <p>Partner Bank Name: <span th:utext="${partnerBanks.name}"></span></p>
                        <p>Partner Bank Country: <span th:utext="${partnerBanks.country}"></span></p>
                    </div>
                </div>
                <div th:if="${partnerBank != null}">
                    <p>Partner Bank Name: <span th:text="${partnerBank.name}"></span></p>
                    <p>Partner Bank Country: <span th:text="${partnerBank.country}"></span></p>
                </div>
             &lt;!&ndash;   <div th:if="${errorMessage != null}">
                    <p class="text-danger">Error: <span th:text="${errorMessage}"></span></p>
                </div>&ndash;&gt;
                <div class="form-group">
                    <label for="amount">Amount:</label>
                    <input type="number" th:field="${transactionModel.amount}" class="form-control" id="amount" required>
                </div>
                <div class="form-group">
                    <label for="currency">Currency:</label>
                    <select id="currency" name="currency">
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">GBP</option>
                        <option value="EUR">CHF</option>
                        <option value="USD">AUD</option>
                        <option value="EUR">JPY</option>
                        <option value="USD">HUF</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea th:field="${transactionModel.description}" class="form-control" id="description"></textarea>
                </div>
                <button type="submit" class="btn button-custom">Transfer</button>
            </form>
        </div>
    </div>
</div>-->
</body>
</html>