<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="/css/styles.css" rel="stylesheet"/>
    <script type="text/javascript" src="/css/scripts.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li class="active">
            <a href="/home">
            <i class="bi bi-house"></i>
            <span>Home</span></a>
        </li>
        <li>
            <a href="/accounts">
            <i class="bi bi-wallet">

            </i><span>Account Management</span></a>
        </li>
        <li>
            <a href="/cards">
            <i class="bi bi-credit-card"></i>
            <span>Card Management</span></a>
        </li>
        <li>
            <a href="/transactions">
            <i class="bi bi-clock-history"></i>
            <span>Transaction History</span></a>
        </li>
        <li>
            <a href="/transfer-between-own-accounts">
            <i class="bi bi-cash-stack"></i>
            <span>Transfer Between Own Accounts</span></a>
        </li>
        <li>
            <a href="/domestic-transfer">
            <i class="bi bi-cash-stack"></i>
            <span>Domestic Transfer</span></a>
        </li>
        <li>
            <a href="/international-transfer">
            <i class="bi bi-cash-stack"></i>
            <span>International Transfer</span></a>
        </li>
        <li>
            <a href="/settings">
            <i class="bi bi-gear settings-icon"></i>
            <span>Settings</span></a>
        </li>
        <li class="logout">
            <a href="#">
            <i class="bi bi-box-arrow-left"></i>
            <span>Logout</span></a>
        </li>
    </ul>
</div>
<!--<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="site-content">
        <div class="navbar-brand">Bank</div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home"><i class="bi bi-house"></i> Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/accounts"><i class="bi bi-wallet"></i> Account Management</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/cards">
                        <i class="bi bi-credit-card"></i> Card Management</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/transactions"><i class="bi bi-clock-history"></i> Transaction History</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/transfer-between-own-accounts"><i class="bi bi-cash-stack"></i> Transfer Between Own Accounts</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/domestic-transfer"><i class="bi bi-cash-stack"></i> Domestic Transfer</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/international-transfer"><i class="bi bi-cash-stack"></i> International Transfer</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0 nav-item active" >
                    <a class="nav-link" href="/settings"><i class="bi bi-gear settings-icon"></i></a>
            </form>
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
 </nav>
</header>-->
</body>

</html>
