<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="/css/scripts.js"></script>
    <title>Transaction History</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body onload="getSavedItem()">
<div id="menu" th:insert="/menu.html :: div"></div>
<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <span th:text="'You are logged in as: ' + ${customer.name}"></span>
            <h2>Transaction History</h2>
        </div>
        <div class="user--info">
            <div class="search--box">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="Search">
            </div>
            <i class="bi bi-person-circle"></i>
        </div>
    </div>
    <div class="tabular--wrapper">
        <h3 class="main--title">Your Transactions</h3>
        <div class="table--container">
            <table>
                <thead>
                <tr>
                    <th>Amount</th>
                    <th>Creation Date</th>
                    <th>Booking Date</th>
                    <th>Partner Name</th>
                    <th>Partner Account Number</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Account ID</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction : ${customersTransactions}">
                    <td th:text="${transaction.amount} + ' ' + ${transaction.currency}"/>
                    <td th:text="${transaction.creationDate}"/>
                    <td th:text="${transaction.bookingDate}"/>
                    <td th:text="${transaction.partnerName}"/>
                    <td th:text="${transaction.partnerAccountNumb}"/>
                    <td th:text="${transaction.description}"/>
                    <td th:text="${transaction.status}"/>
                    <td th:text="${transaction.account.id}"/>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8">
                        <!--<button th:action="@{/transactions-download-json}" method="get">Download Transactions as JSON</button>-->
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</body>
</html>