.card-image {
    width: 300px;
     height: 200px;
     background-image: url("/pictures/Slice3.png");
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 350px;
     height: 200;
     align-items: center;
     margin: 10px 5px 10px 5px;
     padding: 15px;
     grid-gap: 20px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
}

.card-content {
     text-align: center;
     color: white;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     text-align: right;
     -webkit-text-stroke: medium;
     -webkit-text-stroke: medium;
     margin-top: 10px;
     margin-bottom: 15px;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Állítsd be a kártyák szélességét és a sorok számát */
  gap: 20px; /* A kártyák közötti távolság */
}
