.list-group-item {
	padding: 0.25rem
}

.navbar {
    margin-bottom: 1rem
}

.card {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.card-header {
  background-color: #3f51b5; /* Dark blue */
  color: #fff; /* White text */
  padding: 1rem 1.5rem;
  border-radius: 5px 5px 0 0; /* Rounded top corners */
}

.card-body {
  padding: 1.5rem;
}

.details-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15px;
  border-top: 2px solid #333;
  font-size: 1.2em;
  background-color: #ff9fad;
}

.details-bar span {
  font-weight: bold;
}

.details-bar::after {
  content: "...";
  margin-left: 10px;
  color: #2E2E20;
}

.button-custom {
   background-color: #FF0000; /* Piros háttér */
    color: #fff; /* Fehér szöveg */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media (max-width: 768px) {
  button {
    font-size: 14px;
    padding: 10px 20px;
  }
}

.settings-icon{
color: white;
}

.settings-icon:hover{
color: #C51D34;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
body {

}

.nagyBetu {
    font-size: 60px; /* Nagyobb betűméret */
}